<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{pageTitle}}</a>
   <ul class="navbar-nav ml-auto">
    <li class="nav-item"
        *ngIf="isLoggedIn">
      <a class="nav-link" *ngIf="userName$ | async as userName">Welcome {{ userName.name }}</a>
    </li>
    <li class="nav-item"
        *ngIf="!isLoggedIn">
      <a class="nav-link" (click)="logIn()">Log In</a>
    </li>
    <li class="nav-item"
        *ngIf="isLoggedIn">
      <a class="nav-link"
         (click)="logOut()">Log Out</a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <router-outlet #o="outlet"></router-outlet>
    </div>
 </div>
 <div class="col-md-2">
   <router-outlet name="popup"></router-outlet>
 </div>
</div>