<div class="contain">
    <div class="row">
        <div class="row__inner">
            <mat-card class="tile">
                <mat-card-header>
                    <mat-card-title>Yellow Chicken Curry</mat-card-title>
                    <mat-card-subtitle>Entree</mat-card-subtitle>
                </mat-card-header>
                <img class="tile__img" mat-card-image src="/assets/img/1.jpg" alt="Photo of Yellow Chicken Curry">
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="tile">
                <mat-card-header>
                    <mat-card-title>Spaghetti</mat-card-title>
                    <mat-card-subtitle>Entree</mat-card-subtitle>
                </mat-card-header>
                <img class="tile__img" mat-card-image src="/assets/img/2.jpg" alt="Photo of Spaghetti">
                <mat-card-actions >
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="tile">
                <mat-card-header>
                    <mat-card-title>Korean Salad</mat-card-title>
                    <mat-card-subtitle>Side</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/img/3.jpg" alt="Photo of Korean Salad">
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="tile">
                <mat-card-header>
                    <mat-card-title>Pastry</mat-card-title>
                    <mat-card-subtitle>Dessert</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/img/4.jpg" alt="Photo of Pastry">
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="tile">
                <mat-card-header>
                    <mat-card-title>Margherita Pizza</mat-card-title>
                    <mat-card-subtitle>Entree</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/img/5.jpg" alt="Photo of Pizza">
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="tile">
                <mat-card-header>
                    <mat-card-title>Margherita Pizza</mat-card-title>
                    <mat-card-subtitle>Entree</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/img/5.jpg" alt="Photo of Pizza">
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="tile">
                <mat-card-header>
                    <mat-card-title>Margherita Pizza</mat-card-title>
                    <mat-card-subtitle>Entree</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/img/5.jpg" alt="Photo of Pizza">
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="tile">
                <mat-card-header>
                    <mat-card-title>Margherita Pizza</mat-card-title>
                    <mat-card-subtitle>Entree</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/img/5.jpg" alt="Photo of Pizza">
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="tile">
                <mat-card-header>
                    <mat-card-title>Margherita Pizza</mat-card-title>
                    <mat-card-subtitle>Entree</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/img/5.jpg" alt="Photo of Pizza">
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
