<div style="height: 80vh;">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Recipe Clipper</span>
        <span class="menu-spacer"></span>
        <a (click)="auth.login()" *ngIf="!auth.loggedIn" mat-button>
          <mat-icon>login</mat-icon>
          <span>Sign in</span>
        </a>
        <button mat-icon-button [matMenuTriggerFor]="per">
          <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #per="matMenu">
          <button mat-menu-item (click)="auth.logout()" *ngIf="auth.loggedIn">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sign out</span>
          </button>
        </mat-menu>
        <div fxShow="false" fxHide.lt-md>
          <a *ngIf="userName$ | async as userName">Welcome {{ userName.name }}</a>
          <!-- The following menu items will be hidden on both SM and XS screen sizes -->
          <a (click)="auth.logout()" *ngIf="auth.loggedIn" mat-button>Logout</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
          <a (click)="pingApi()" href="#" mat-list-item>Ping API</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill 
           [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  